{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],

  "rules": {
    "no-console": "off",
    "prefer-promise-reject-errors": "off",
    "no-plusplus": "off",
    "arrow-body-style": "off",
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "import/no-default-export": "off",
    "no-unused-vars": "error",
    "@typescript-eslint/no-empty-function": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true,
        "typedefs": true
      }
    ],
    "import/no-extraneous-dependencies": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  }
}
